.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-content {
  flex: 1;
}

.App-footer {
  background-color: #282c34;
  text-align: right;
  padding-right: 35px;
  font-size: calc(7px + 1vmin);
  color: white;
}
